html {
    background-color: #bae6fd;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
    background-color: #0c4a6e;
    color: white;
}

.navbar a {
    color: white;
}

footer {
    background-color: #0c4a6e;
    color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #bae6fd;
    margin-bottom: 60px;
}
