@model HappyBirthdayApp.Models.ComingHBs

<h1>Upcoming Birthdays</h1>

<table class="table table-borderless table-hover align-middle">
    <thead>
        <tr>
            <th width="300">Img</th>
            <th width="300">Name</th>
            <th width="300">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var birthday in Model.UpcomingList)
        {
            <tr>
                <td>
                    @if (birthday.Img != null && birthday.Img.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(birthday.Img)" class="rounded-circle" alt="@birthday.Name" width="60" height="60" />
                    }
                    else
                    {
                        <img src="@("/image/NoPP.jpg")" class="rounded-circle"  width="60" height="60" />
                    }
                </td>
                <td>@birthday.Name</td>
                <td>
                    @if (birthday.Date.Day == DateTime.Today.Day && birthday.Date.Month == DateTime.Today.Month)
                    {
                        <span>TODAY!!!</span>
                    }
                    else
                    {
                        <span>@birthday.Date.ToShortDateString()</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>